* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);

  height: 100%;
  font-family: 'Ubuntu', sans-serif;

  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
  background-image: url(images/bg.png);
  background-size: cover;
}

.glassEffect {
  width: 375px;
  height: 812px;
  position: absolute;
  backdrop-filter: saturate(180%) blur(15px);
  background-color: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(2px);
  z-index: 0;
}
.glassBG {
  background: url(images/Mobile.png);
  width: 375px;
  height: 812px;
  border-radius: 0.5rem;
  position: absolute;
  z-index: 1;
}
main {
  width: 375px;
  height: 812px;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.411);
  opacity: 1;
  z-index: 5;
}

.container {
  max-width: 250px;
  margin: 0 auto;
  text-align: center;

  color: var(--grey);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;

  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;

  justify-content: center;
}

li img {
  border-radius: 0.2rem;
  opacity: 0.6;
}
