html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/background.svg);
  width: 375px;
  height: 812px;
}

.container {
  max-width: 250px;
}

h1 {
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
}
